/* frontend/src/widgets/AdminHeader/ui/AdminHeader.module.css */
.header {
  display: flex;
  align-items: center;
  background-color: var(--content-box);
  z-index: 10;
  padding: 1rem;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100% - 1rem);
  margin: 0 auto;
  padding: 0.5rem;
  position: relative;
}

.headerContent::after {
  content: '';
  position: absolute;
  bottom: -1rem; /* Отступ снизу */
  left: 0;
  right: 0;
  height: 0.08rem;
  background-color: var(--border);
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: inherit;
  cursor: pointer;
  font-size: 4rem;
  transition: all 0.3s ease;
}

.menuButton:hover {
  background-color: var(--secondary);
}

.menuButton:active {
  transform: scale(0.95);
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 1.5rem;
  font-weight: 500;
}

/* Адаптивность */
@media (max-width: 768px) {
  .header {
    padding: 0 1.5rem;
    height: 5.5rem;
  }

  .rightSection {
    gap: 1rem;
  }

  .logoutText {
    display: none;
  }

  .logoutButton {
    padding: 1rem;
    min-width: auto;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0 1rem;
  }

  .rightSection {
    gap: 0.8rem;
  }
}
