.switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border: 0.1rem solid var(--border);
  padding: 1rem;
  border-radius: 1.5rem;
  width: 4.1rem;
  height: 4.1rem;
  cursor: pointer;
}

.switcher > * {
  font-size: 4rem;
  color: var(--foreground);
}
